img {
  position: relative;
  font-family: $ff;
  font-weight: bold;
  text-align: center;

  &::after {
    content: "imagen rota";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: z(default);
    top: 0;
    left: 0;

    color: darken(palette(grey,light), 25%);
    background-color: palette(grey,light);
  }
}

